<html>
  <head>
    <title>&raquo; t i m e s l i c e &laquo;</title>
    <meta name="description" content="Visualize a time series" />
    <meta name="keywords" content="timelapse" />
    <meta name="author" content="David Zwarg"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
  <body>
    <h1>
      &raquo; t i m e s l i c e &laquo;
    </h1>
    <div id="main">
    </div>
    <input id="reload" type="button" value="Reload"/>
    <input id="create" type="button" value="Create"/>
    <input id="purge" type="button" value="Purge"/>
    <script type="text/javascript" src="/static/js/jquery-1.6.js"></script>
    <script type="text/javascript" src="/static/js/timeslice-debug.js"></script>
    <script type="text/javascript" src="/static/js/json2-debug.js"></script>
  </body>
</html>
