body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  background-color: #000000;
  color: #ffffff;
}
.day h2 {
  position: relative;
  height: 0;
  top: 3em;
  margin: 0;
}
.day .i {
  float:left;
  overflow: hidden;
  border: solid 1px #dddddd;
  text-align: right;
}
.clear {
  clear: both;
  height: 0;
}